.heading1 {
	color: #26175a;
	font-size: 1.75rem;
	font-weight: bold;
	margin: 1rem;
	text-align: center;
	line-height: normal;
}

.heading2 {
	color: #dd2a9d;
	text-align: center;
}

.reasonText {
	color: #dd2a9d;
}

.button {
	background-color: #99ffcc;
	border: none;
	height: 55px;
	font-weight: 800;
	font-size: 22px;
	letter-spacing: 0.5px;
	margin-top: 25px;
}

/* TODO Switch up hover colors for lighter shades of these */
.button:hover {
	background-color: #99ffcc;
}
