.header {
	padding-top: calc(env(safe-area-inset-top));
}

.footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
}

.footerNav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(19, 0, 54);
	width: 100%;
	padding: 0.5rem 0;
}

.footerNavItem {
	padding: 10px;
	color: rgb(255, 255, 255, 0.5);
}
