.sectionTitle {
	margin: 0;
	color: #7fe5bb;
}

.greenText {
	color: #7fe5bb;
}

.body1 {
	color: #ffb804;
	margin-top: 0.5rem;
	font-size: 13px;
}

.body2 {
	color: #fff;
	font-size: 23px;
	font-weight: bold;
}

.coinsBox {
	height: 200px;
	width: 90vw;
	background-color: #1f144c;
	border: 1px solid grey;
	border-radius: 10px;
	max-width: 400px;
	margin: 10px auto;
}

.container {
	/* width: 100vw;
	height: 101vh; */

	/* TODO: Revisit if we have time */
	background-size: contain;

	background-color: #26175a;
	background-image: url('/resources/images/graph.png');
	background-size: 100vw 60vh;
	background-repeat: no-repeat;

	/* padding: 0;
	margin: 0; */

	/* overflow-x: hidden; */

	/* padding: 0; */
}

.section {
	margin: 1rem 1.5rem;
}

.subsection {
	display: flex;
	flex-direction: row;
}

.personIcon {
	color: #7fe5bb;
	left: -34px;
	top: -2px;
	position: relative;
}

.circleIcon {
	color: #7fe5bb;
	font-size: 43px !important;
}

.progressBar > span {
	background-color: #a275ff !important;
}

.coinContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}
