.landingContainer {
	background-image: url('../resources/images/graph.png');
	/* TODO: Update when elements are on page */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 75%;
}

@media (max-width: 768px) {
	.landingContainer {
		background-position: 25%;
		background-size: contain;
	}
}

.loginButtons {
	height: 64px;
	padding: 15px 20px;
	font-weight: 500;
	font-size: 23px;
	letter-spacing: 0.5px;
}

/* TODO Switch up hover colors for lighter shades of these */
.twitchButton {
	background-color: #a275ff;
}

.twitchButton:hover {
	background-color: #a275ff;
}

.twitterButton {
	background-color: #62c7f5;
}

.twitterButton:hover {
	background-color: #62c7f5;
}

.googleButton {
	background-color: #e1492b;
}

.googleButton:hover {
	background-color: #e1492b;
}

.signupText {
	font-size: 12px;
	letter-spacing: 0.5px;
}

@media (max-width: 640px) {
	.signupText {
		position: absolute;
		bottom: 10px;
		left: 20%;
	}
}

.signupLink {
	color: #78d4b4;
}
